<!doctype html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
    crossorigin="anonymous">

    <title>Simcen</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <main>
        <h1></h1>
        <%- include("./partials/nav.ejs") %>
        <!--Header-->
        <section class="py-5 text-center container">
            <div class="row py-lg-1">
                <h1 class="fw-light"> Admin dashboard</h1>
            </div>
        </section>       
        <div class="py-5 bg-light">
            <div class="container">
                <div class="justify-content-center row g-3">

                    <div class="col-sm-12">
                        <!--Tabs-->
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <!--Register tab-->
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="signupMenu-tab" data-bs-toggle="tab" data-bs-target="#signupMenu" type="button" role="tab">Signup Page</button>
                            </li>
                            <!--User tab-->
                            <li class="nav-item">
                                <button class="nav-link" id="usersMenu-tab" data-bs-toggle="tab" data-bs-target="#UsersMenu" type="button" role="tab">Users</button>
                            </li>
                        </ul>

                        <div class="tab-content row">
                            <div class="tab-pane fade show active" id="signupMenu"  role="tabpanel" tabindex="0">
                                <div class="col-md-12 text-center">
                                    <h1>Signup</h1>
                                </div>
                                <!--Register submit action-->
                                <form action="/api/admin/user/register" method="post" name="Singup">

                                    <div class="form-group">
                                        <!--Input email-->
                                        <label for="userMail">E-mail</label>
                                        <input type="user" name="userMail" id="userMail" class="form-control"
                                            aria-describedby="emailHelp" placeholder="Enter E-mail" />
                                        <!--Input Password-->
                                        <label for="InputPassword">Password</label>
                                        <input type="password" name="password" id="password" class="form-control"
                                            aria-describedby="passwordHelp" placeholder="Enter Password" />
                                        <!--Input Firstname-->
                                        <label for="Input FirstName">FirstName</label>
                                        <input type="text" name="firstName" id="firstName" class="form-control"
                                            aria-describedby="firstnameHelp" placeholder="Enter Firstname" />
                                        <!--Input LastName-->
                                        <label for="InputLastname">Lastname</label>
                                        <input type="text" name="lastName" id="lastName" class="form-control"
                                            aria-describedby="lastNameHelp" placeholder="Enter Lastname" /> <br>
                                    </div>
                                    <!--Clearance level-->
                                    <div class="form-group text-center">
                                        <label for="InputAdmin">User type</label>
                                        <select name="admin" class="form-select select w-45" aria-label="Default select example">
                                            <option value="0">Viewer</option>
                                            <option value="1">Stagiaire</option>
                                            <option value="2">Stage Begeleider</option>
                                            <%if( user.admin > 2 ){%>
                                            <option value="3">Developer</option>
                                            <% } %> 
                                        </select><br>
        
                                        <div class="col-md-12 text-center ">
                                            <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Singup</button>
                                        </div>
                                    </div>
                                    <% if(locals.errMsg){ %> 
                                        <p class=" h5 mt-3 text-danger"><%= locals.errMsg %> </p>
                                    <% }; %> 
                                </form>
                            </div>                       
                            <div class="tab-pane fade" id="UsersMenu"  role="tabpanel" tabindex="0">
                               <h1>Users</h1>
                            
                            <div>
                                <div class="row">
                                    <div class="col">
                                        <h3>Name</h3>
                                    </div>
                                    <div class="col">
                                        <h3>Email</h3>
                                    </div>
                                    <div class="col">
                                        <h3>Admin</h3>
                                    </div>
                                    <div class="col-sm-1"></div>
                                </div>
                                <% if(admin.length > 0){ 
                                    admin.forEach(admin => { %>
<div style="display: block;" id="1<%=admin._id%>">
                                        <div class="row">
                                            <div class="col">
                                                <p><strong><%= admin.fullName %></strong></p>
                                            </div>

                                            <div class="col">
                                                <p><%= admin.email%></p>
                                            </div>

                                            <div class="col">
                                                <p>Admin: <%switch (admin.admin) {
                                                        case 0:%>
                                                            Viewer
                                                            <%break;
                                                        case 1:%>
                                                            Stagier
                                                            <%break;
                                                        case 2:%>
                                                            Stage begeleider
                                                            <%break;
                                                        case 3:%>
                                                            Developer
                                                            <%break;                    
                                                    }%></p> 
                                            </div>
                                            <%if(admin.admin == 3 && user.admin == 2){%>
                                            <div class="col-sm-1"></div>
                                               <% return;}%>

                                            <div class="col-sm-1">
                                                <div style="display: block;" id="delete1<%=admin._id%>">
                                                    <div class="btn-group" role="button">
                                                        <button type="button" onclick="ChangeDiv('<%= admin._id %>', '{!!$product->id!!}', this, '')" value="<%= admin._id %>" id="inquireButton" class="btn btn-sm btn-warning">edit</button> &nbsp;
                                                        <button type="button" onclick="ChangeDiv('<%= admin._id %>', '{!!$product->id!!}', this, 'delete')"value="<%= admin._id %>" id="inquireButton" class="btn btn-sm btn-danger">delete</button>
                                                    </div>  
                                                </div>

                                            <div style="display: none;" id="delete2<%=admin._id%>">
                                                    <form action="/admin/<%= admin._id %>?_method=delete" method="POST">
                                                        <textarea name="page" id="page" cols="30" rows="10" hidden>weapons</textarea>
                                                        <div class="btn-group" role="button">
                                                            <button class="btn btn-sm btn-danger" type="submit">Yes</button>&nbsp;
                                                            <button type="button" onclick="ChangeDiv('<%= admin._id %>', '{!!$product->id!!}', this, 'delete')" value="<%= admin._id %>" id="inquireButton" class="btn btn-sm btn-success">No</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
</div>

<div style="display: none;" id="2<%=admin._id%>">
                                        <div class="row">
                                            <div class="col">
                                                <form action="/admin/edit/<%=admin._id %>" method="post" name="Singup">
                                                <div class="row">
                                                    
                                                    <div class="col">
                                                        
                                                        <input  type="text" value="<%=admin.firstName %>" 
                                                            name="firstName" id="firstName"  class="form-control form-control-sm" 
                                                            aria-describedby="firstName" placeholder="Information" maxlength="30" required>
                                                        </div>
                                                        <div class="col">
                                                        <input type="text" value="<%=admin.lastName %>" 
                                                            name="lastName" id="lastName"  class="form-control form-control-sm" 
                                                            aria-describedby="lastName" placeholder="Information" maxlength="30" required>   
                                                    </div>
                                                
                                            

                                            <div class="col">
                                                <input type="text" value="<%=admin.email %>" 
                                                            name="userMail" id="userMail"  class="form-control form-control-sm" 
                                                            aria-describedby="userMail" placeholder="Information" maxlength="30" required>
                                            </div>

                                            <div class="col">
                                                <select id="select" name="admin" class="autoselect form-select form-select-sm select" aria-label="Default select example" required> 
                                                    <option value="<%=admin.admin%>" selected disabled hidden><%switch (admin.admin) {
                                                        case 0:%>
                                                            <p>Viewer</p>
                                                            <%break;
                                                        case 1:%>
                                                            <p>Stagier</p>
                                                            <%break;
                                                        case 2:%>
                                                            <p>Stage begeleider</p>
                                                            <%break;
                                                        case 3:%>
                                                            <p>Developer</p>
                                                            <%break;                    
                                                    }%></option>
                                                    <option value="0">Viewer</option>
                                                    <option value="1">Stagiaire</option>
                                                    <option value="2">Stage Begeleider</option>
                                                    <%if( user.admin > 2 ){%>
                                                        <option value="3">Developer</option>
                                                    <% } %> 
                                                    </select><br>
                                                    </div>
                                                        <div class="col-sm-1">
                                                            <div class="btn-group" role="button">
                                                                <button  class="btn btn-sm btn-success" type="submit">Save</button> &nbsp;
                                                                <button type="button" onclick="ChangeDiv('<%= admin._id %>', '{!!$product->id!!}', this, ''); ChangeDiv('<%= admin._id %>', '{!!$product->id!!}', this, 'password')"  value="<%= admin._id %>" id="inquireButton" class="btn btn-sm btn-warning">Cancel</button>
                                                            </div>
                                                        </div>
                                                   
                                                    </div> 
                                                </form>
                                                    <div class="row">
                                                        
                <div style="display: block;" id="password1<%=admin._id%>">
                                                        <div class="col">
                                                            <a href="#" onclick="ChangeDiv('<%=admin._id%>', '{!!$product->id!!}', this, 'password')" value="<%= admin._id %>" id="inquireButton">Change Password</a>
                                                        </div>
                </div></div>
                <div style="display: none;" id="password3<%=admin._id%>">
                                                    <div class="row">
                                                        <form action="/admin/editPassword/<%=admin._id%>"  method="post" name="Singup">
                                                        <div class="col-sm-10">
                                                            <input type="password"
                                                                name="password" id="password"  class="form-control form-control-sm" 
                                                                aria-describedby="lastName" placeholder="input new password" maxlength="30" required>
                                                            </div>
                                                            <div class="col-sm-1"> 
                                                                <div class="btn-group" role="button">
                                                                    
                                                                    <button class="btn btn-sm btn-success" type="submit">Save</button> &nbsp;
                                                                </div> 
                                                            </div>
                                                        </form>
                                                        </div><br>
                </div>
                                                </div>
                                            </form>
                                        </div>
</div>

                                    <%});%> 
                                    <%}else{%>
                                        <p>there a no admin</p>
                                        <%}%>
                            </div>
                        </div>
                        </div>
                            
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include("./partials/footer.ejs") %>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>     

<script>

function ChangeDiv(val, productId, button, test) {
  var x = document.getElementById(test + "1" + val)
  var y = document.getElementById(test + "2" + val)

  if (x.style.display === "none") {
    x.style.display = "block";
    y.style.display = "none";
  } else {
    x.style.display = "none";
    y.style.display = "block";
  } 
}

$(document).ready(function() {
  // Loop for every select in page
  $('select').each(function(index, id) {
    // Get the value 
    var theValue = $(this).attr('value');

    // Get the ID  
    var theID = $(this).attr('id');

    // Make option selected 
    $('select#' + theID + ' option[value=' + theValue + ']').attr('selected', true);
  });
});
  </script> 